<h1>Overview of all authors</h1>

<%= link_to "Add author", new_author_path %>
<br>

<table>
    <tr>
        <th>Name</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Homepage</th>
    </tr>
    <% for @author in @authors %>
        <tr>
            <th><%= @author.name %></th>
            <th><%= @author.first_name %></th>
            <th><%= @author.last_name %></th>
            <th><%= @author.homepage %></th>
            <th>
              <%= link_to "Show", author_path(@author) %>
            </th>
        </tr>
    <% end %>
</table>
