<%= form_for(@paper) do |f| %>

  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
      <% @paper.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>

  <% for i in 1..5 do %>
    <%= f.label "Author #{i}", for: "paper_author_id_#{i}" %>
    <%= f.collection_select :author_ids, Author.all(), :id, :name, {selected: @paper.author_ids[i], include_blank: '(none)'}, {name: "paper[author_ids][]", id: "paper_author_id_#{i}"} %>
    <br>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
